<div class="col-md-12">
    <h3>Forgot Password</h3>
    <p>Please provide your registered Email address to recover the password.</p>
</div>
<form #forgotPassword="ngForm" name="form" novalidate (ngSubmit)="forgotPassword.valid && recoverPassword(email)">
    <div class="text-input form-group" [class.has-error]="forgotPassword.submitted && emailctrl.invalid">
        <mat-form-field class="col-md-12 form-input">
            <input type="email" matInput placeholder="Email" autocomplete="off" [(ngModel)]="email" name="email"
                required #emailctrl="ngModel">
        </mat-form-field>
        <span class="help-block col-md-12 error-msg" *ngIf="forgotPassword.submitted && emailctrl.errors?.required">
            Email is required</span>

        <div class="form-group col-md-12">
            <button class="float-right" mat-raised-button color="warn">RECOVER</button>
            <button class="float-right" mat-raised-button color="basic" (click)="closeModal()">CANCEL</button>
        </div>
    </div>
</form>