<div class="login-form">
    <div class="col-md-12">
        <h3>Login</h3>
    </div>
    <form #loginfForm="ngForm" name="form" novalidate (ngSubmit)="loginfForm.valid && userLogin(login)">
        <div class="text-input form-group" [class.has-error]="loginfForm.submitted && usernamectrl.invalid">
            <mat-form-field class="col-md-12 form-input">
                <input type="email" matInput placeholder="User Name" autocomplete="off" [(ngModel)]="login.username" name="username"
                    required #usernamectrl="ngModel">
            </mat-form-field>
            <span class="help-block col-md-12 error-msg" *ngIf="loginfForm.submitted && usernamectrl.errors?.required">
                User Name is required</span>
            <mat-form-field class="col-md-12">
                <input type="password" matInput placeholder="Password" [(ngModel)]="login.password" name="password"
                    required #passwordctrl="ngModel">
                <span class="separator"> </span>
            </mat-form-field>
            <span class="help-block col-md-12 error-msg" *ngIf="loginfForm.submitted && passwordctrl.errors?.required">
                Password is required</span>
            <div class="form-group col-md-12">
                    <a role="button" (click)="forgotPassword()">Forgot Password?</a> / 
                    <a role="button" (click)="registerNewUser()">New User</a>
                <button class="float-right" mat-flat-button color="warn">LOGIN</button>
            </div>
        </div>
    </form>
</div>