.form{
    &-group{
        & .error{
            &-msg{
                color:$red;
                position: relative;
                top:-15px;
            }
        }
    }
}
button{
    margin-right:5px!important;
    &:focus{
        outline:none!important;
    }
}